*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}
body{
  background-color: #000;
}
h1.title{
  background-color: cornflowerblue;
  color: beige;
  padding: 10px;
  text-align: center;

}
h2{
  color: #fff;
}
form{
  margin: 10px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 20px;
  display: flex;
}
form input {
  padding: 5px;
  border: none;
  outline: none;
  flex: 1;
  background-color: transparent;
  color: #fff;
}
form button{
  padding: 5px 10px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  border-radius: 10px;
}
form button:hover{
  cursor: pointer;
}
div.lista{
  padding: 5px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
div.item{
  text-align: center;
  padding:10px ;
  width: 200px;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  margin: 5px;
}
div.item:hover{
background-color: cornflowerblue;
cursor: pointer;
}
div.item img{
width: 100%;
}
